## Pandas: Get sum of column values in a Dataframe 30-10-2020

In [4]:
import pandas as pd
import numpy as np

# List of Tuples
students = [('Ahmed',    34,     'Saudi',  155),
            ('Amir',    31,     'Oman',   177.5),
            ('Sara',    16,     'Sudan',  81),
            ('Fahd',   31,     'Dubai',   np.NaN),
            ('Amira',   np.NaN, 'Egypt',   144),
            ('Said', 35,     'Iraq',  135),
            ('Mohap',   35,     'Tunis', 111) ]


data = pd.DataFrame(students , columns=['Name' , 'Age' , 'City' , 'Score'])

print(data)

    Name   Age   City  Score
0  Ahmed  34.0  Saudi  155.0
1   Amir  31.0   Oman  177.5
2   Sara  16.0  Sudan   81.0
3   Fahd  31.0  Dubai    NaN
4  Amira   NaN  Egypt  144.0
5   Said  35.0   Iraq  135.0
6  Mohap  35.0  Tunis  111.0

In [6]:
data.head()

    Name   Age   City  Score
0  Ahmed  34.0  Saudi  155.0
1   Amir  31.0   Oman  177.5
2   Sara  16.0  Sudan   81.0
3   Fahd  31.0  Dubai    NaN
4  Amira   NaN  Egypt  144.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     6 non-null      float64
 2   City    7 non-null      object
 3   Score   6 non-null      float64
dtypes: float64(2), object(2)
memory usage: 352.0+ bytes

In [5]:
# Get total all values in column 'Score' of the DataFrame

sum_score = data['Score'].sum()

sum_score

803.5

In [9]:
#Get total sum used loc

loc_sum = data.loc[:, 'Score'].sum()
loc_sum

803.5

In [20]:
#get the sum and type columns used by number 

column_number = 4

total = data.iloc[:, column_number-1 : column_number ].sum()

total

Score    803.5
dtype: float64

In [21]:
#select the foor columns and get sum for first 3 values only .

total = data.iloc[0:3 ,  3:4].sum()

total

Score    413.5
dtype: float64

In [23]:
#how to get sum values used by conditions 
#get sum data (score) in city (egypt)

total_egypt = data.loc[data['City'] == 'Egypt' , 'Score'].sum()

total_egypt

144.0